<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INF 121 Search Engine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<div class = "container-fluid text-center">
    <div class="jumbotron">
    <h1 class="display-4">My Search Engine</h1>
  <hr class="my-4">
  <p>Enter query to search within the ICS domain</p>
  <p class="lead">
     <form method = "post" action = "/results">
            <input id = "query" type = "text" name = "query">
            <input type = "submit">
     </form>

        </p>
</div>



</div>


</body>
</html>